*{
    box-sizing:border-box;
}

body {
    font-family: "Meiryo";
}

header{
    width:100%;
    height:70px;
    color:white;
    background-color:rgba(34, 49, 52, 0.9);
    position:fixed;
    z-index:999;
    top:-10px;
}

.icon{
    float:left;
    padding:20px;
}

.main{
    width:100%;
    color:white;
    text-align:center;
    font-size:20px;
    background-image:url(haike_itiba.jpg);
    background-size:cover;
}

.txt-first{
    font-size:35px;
    letter-spacing:4px;
    font-weight:bold;
}


.aisatu{
    padding-top:120px;
}

.kaisetu{
    padding-top:50px;
}

.kaisetu-end{
    padding-bottom:20px;
}

.contents{
    width:100%;
}

.shohin{
    text-align:center;
    height:450px;
    background-color:rgba(34, 49, 52, 0.9);
}

.topga-position{
    width:25%;
    padding-top:50px;
    float:left;
}

.sho-icon{
    position:relative;
}

.topga{
    width:200px;
    height:200px;
    border-radius:50%;
    border:outset thick aqua;
    padding:10px;
    opacity:0.7;
    transition-property:transform,opacity;
    transition-duration:1s;
}

.topga:hover{
    opacity:1;
    transform:scale(1.2,1.2);
    cursor:pointer;
}

.hinme{
    height:100%;
    width:100%;
    font-size:25px;
    font-weight:bold;
    color:white;
    position:absolute;
    top:90px;
}

.topga-position p{
    margin-top:30px;
    display:inline-block;
    width:80%;
    color:white;
}

.tuke{
    height:170px;
    background-color:white;
    color:black;
}

.tuke-title{
    font-size:20px;
    border-bottom:solid 1px black;
}

.tuke-contents{
    width:230px;
    height:80px;
    float:left;
    padding:10px;
    margin:10px;
    border:solid 1px silver;
}

.tuke-hinme{
    font-weight:bold;
    font-size:15px;
    float:left;
    margin:20px 15px 60px 0px;
}

.tuke-hinme:hover{
    transform:scale(1.2,1.2);
}

.tuke-icon{
    width:60px;
    height:60px;
    float:right;
}
